body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #7f7fd5, #86a8e7, #91eae4);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  #search {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
  }

  #results {
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
  }

  #results li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
  }

  #results li:hover {
    background-color: #f0f0f0;
  }